nextflow.preview.output = true

singularity {
    enabled = true
    autoMounts = true
    cacheDir = $NXF_SINGULARITY_CACHEDIR
}

process {
    executor='slurm'
    queue='production'
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    cpus = 2
    memory = '8.GB'
    time = '4.h'
}

process.errorStrategy = 'retry'
process.maxRetries = 2

// Execution reports
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true



