params {
    // Resource management
    max_cpus = 24
    max_memory = '64.GB'
    max_time = '168.h'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$NXF_SINGULARITY_CACHEDIR"
}

workDir = "${System.getenv('NF_WORKDIR')}/work/references/tmp"

process {
    executor='slurm'
    queue='production'
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    cpus = 8
    memory = '16.GB'
    time = '4.h'
    
}

process.errorStrategy = 'retry'
process.maxRetries = 2

// Execution reports
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
